<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Item\DataProvider"
                 type="IdealCode\Core\Ui\Component\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item\Collection
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Column\Item\Action"
                 type="IdealCode\Banner\Ui\Component\Listing\Column\Action">
        <arguments>
            <argument name="resource" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="IdealCode\Banner\Ui\Component\Listing\Column\Item\Image"
                 type="IdealCode\Banner\Ui\Component\Listing\Column\Image">
        <arguments>
            <argument name="resource" xsi:type="object">
                IdealCode\Banner\Model\ResourceModel\Item
            </argument>
            <argument name="mediaPath" xsi:type="const">
                IdealCode\Banner\Model\Item::BASE_MEDIA_PATH
            </argument>
        </arguments>
    </virtualType>
</config>
