<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IdealCode_Banner::banner" title="Banners" module="IdealCode_Banner" sortOrder="40"
             parent="Magento_Backend::content" resource="IdealCode_Banner::banner"/>
        <add id="IdealCode_Banner::item" title="Items" module="IdealCode_Banner" sortOrder="0"
             action="banner/item" parent="IdealCode_Banner::banner" resource="IdealCode_Banner::banner"/>
        <add id="IdealCode_Banner::type" title="Types" module="IdealCode_Banner" sortOrder="10"
             action="banner/type" parent="IdealCode_Banner::banner" resource="IdealCode_Banner::banner"/>
    </menu>
</config>
